services:
  - type: web
    name: ktor-sample
    env: docker
    plan: free
    dockerfilePath: Dockerfile
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /health
    autoDeploy: true